<ion-view view-title="{{ assignment.name }}" addBackButton>

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ui-sref="tab.edit-assignment({assignmentId: assignment.id})">Edit</button>
  </ion-nav-buttons>
  <ion-content class="padding assignment-detail">
    <h4>Class</h4>
    <p>{{ class.name }}</p>

    <h4>Due Date</h4>
    <p>{{ assignment.dueDate | date:'MMMM d, yyyy h:mm a' }}</p>

    <h4>Additional Notes</h4>
    <p ng-if="assignments.notes">{{ assignment.notes }}</p>
    <p ng-if="!assignments.notes">None</p>

    <h4>Completed</h4>
    <p ng-if="assignment.isCompleted">Yes</p>
    <p ng-if="!assignment.isCompleted">No</p>
    
    <h4 ng-if="assignment.grade">Grade</h4>
    <p>{{ assignment.grade }}</p>
  </ion-content>
</ion-view>