<ion-view view-title="{{ class.name }}">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ui-sref="tab.edit-class({classId: class.id})">Edit</button>
  </ion-nav-buttons>
  <ion-content class="padding class-detail">
    <h4>Meeting Time(s)</h4>
    <p>
      <div class="meeting-time" ng-repeat="meetingTime in class.meetingTimes">{{ getFormattedMeetingTime(meetingTime) }}</div>
    </p>

    <h4>Location</h4>
    <p>{{ class.location }}</p>

    <h4>Teacher</h4>
    <p>{{ class.teacher }}</p>

    <h4>Assignments</h4>
    <ion-item class="item-icon-right" ng-repeat="assignment in class.assignments track by $index" type="item-text-wrap" ng-click="goToAssigment({{ assignment.id }})">
      <div style="font-size: 14px;">{{ assignment.name }}</div>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <p ng-if="class.assignments.length == 0">No assignments</p>

    <h4 ng-if="calculateGrade()">Current Grade</h4>
    <p ng-if="calculateGrade()">{{ calculateGrade() }}</p>
  </ion-content>
</ion-view>