<ion-view view-title="{{ class.name }}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Meeting Times</div>
      <div class="item item-body">
        <div ng-repeat="meetingTime in class.meetingTimes">
          <div>{{ getFormattedMeetingTime(meetingTime) }}</div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Location</div>
      <div class="item item-body">
        <div>{{ class.location }}</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Teacher</div>
      <div class="item item-body">
        <div>{{ class.teacher }}</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Assignments</div>
      <div class="item item-body assignment-items">
        <ion-item class="item-icon-right" ng-repeat="assignment in class.assignments" type="item-text-wrap" href="#/tab/assignments/{{ assignment.id }}">
          <div style="font-size: 14px;">{{ assignment.name }}</div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>