/* Empty. Add your own CSS if you like */
.list > .item > .item-content > .color-label {
	position: absolute; 
	left: 0; 
	width: 10px; 
}

.list > .item > .item-content > .class-color-label {
	height: 43px;
}

.list > .item > .item-content > .assignment-color-label {
	height: 65px;
}

.item-avatar .item-content {
	padding-left: 35px;
}

.item-body {
	padding-top: 8px;
	padding-bottom: 8px;
}

.item-body > div {
	font-size: 14px;
}

.assignment-items {
	padding: 0;
};

.class-detail h4 {
	color: #222;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 5px;
}

.class-detail,
.assignment-detail {
	padding-top: 25px;
}

.class-detail p,
.assignment-detail p,
.class-detail .meeting-time {
	font-size: 14px;
	color: #444;
}

.class-detail p,
.assignment-detail p, {
	margin-bottom: 20px;
}