/* Empty. Add your own CSS if you like */
.list > .item > .item-content > .color-label {
	position: absolute; 
	left: 0; 
	width: 10px; 
	height: 43px;
}

.item-avatar .item-content {
	padding-left: 35px;
}